<nav class='nav-bar'>
  <div class='title-wrapper'>
    <a class='title' href='/'>{{site.data[page.data_file].navbar.title}}</a>
    <div class='menu-icon'>
      <div class='hamburger-menu'>
        <div class='line top'></div>
        <div class='line middle'></div>
        <div class='line bottom'></div>
      </div>
    </div>
  </div>
  <div class='nav-list-wrapper'>
    <ul class='nav-links'>
      {% for link in site.data[page.data_file].navbar.links %}
        <li class="nav-item">
          <a class="nav-link" href="{{link[1]}}">{{link[0]}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
