body{
  background-color: #e9ebee;
}
.line{
  width: 0%;
  height: 1px;
  margin: 10px auto;
}
.top-banner {
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  padding: 15px;
}
.top-banner .cross{
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}
.p{
  color: #e9ebee;
}
.h{
  margin: 0;
  display: inline-block;
  color: #e9ebee;
}
.video{
  padding: 0 15px;
  margin: 25px 0;
}
.video iframe{
  width: 100%;
}

.container.form{
  padding: 15px 0;
}
.container .pray, .container .testimony{
  background-color: #f3f5f8;
  overflow: hidden;
  text-align: center;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 10px;
  margin: 15px;
}

.container .title{
  font-size: 1.35rem;
  background-color: #dcdcdc;
  padding: 20px;
  width: 100%;
  border-color: #dddfe2;
}
.container .form-wrapper{
  font-size: 1.1rem;
  padding: 15px;
}
.container .btn.what-btn{
  cursor: pointer;
  background-color: #00c05e;
  color: #fff;
  border-color: #00823f
}
.container .btn.what-btn:hover{
  background-color: #00a651;
  border-color: #00823f
}
.donate .btn-donate{
  color: #111;
  background-color: #ffe705;
  border-color: #edd705;
  font-size: 1.35rem;
  padding: 15px 20px;
}
.donate .btn-donate:hover{
  cursor: pointer;
  background-color: #f3dc05;
  border-color: #e1cc05;
}
.subscribe{
  width: 100%;
  min-height: 300px;
}
.subscribe .youtube_subscribe{
  display: flex;
  justify-content: center;
}
.subscribe h4{
  margin-right: 7px;
}

@media (min-width: 544px) {
  .line{
    width: 100%;
    border-top: 1px solid #bababa;
  }
  .top-banner{
    display: flex;
  }
  .top-banner .inner{
    width: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
  }
  .container.forms{
    max-width: inherit;
    padding: 35px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .container .pray, .container .testimony{
    display: inline-block;
  }
  .subscribe{
    margin: 20px auto;
    text-align: center;
    max-width: 500px;
    min-height:500px;
  }
  .video{
    padding: 0 15px;
    display: flex;
    justify-content:space-between;
  }
  .video iframe{
    width: 19%;
  }
}
.donate{
  margin: 20px auto;
  text-align: center;
}

.navbar {
  background-color: #4682b4;
  border: 1px solid #386890;
}
.navbar .navbar-nav{
  margin: auto;
}
.navbar ul li a{
  color: #e9ebee !important;
}

/*---------------------------------------------------------*/
/* slideshow */
.slideshow {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; }
  .slideshow .button-wrapper {
    z-index: 3;
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: opacity 500ms; }
    .slideshow .button-wrapper svg {
      width: 32px;
      height: 32px; }
    .slideshow .button-wrapper .slide-button {
      display: flex;
      position: absolute;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 16px;
      position: absolute; }
    .slideshow .button-wrapper .right-slide {
      right: 0;
      margin-right: 5px; }
    .slideshow .button-wrapper .left-slide {
      left: 0;
      margin-left: 5px; }
    .slideshow .button-wrapper .pause-slide {
      width: 100%;
      height: 28px;
      bottom: 0; }
  .slideshow .button-wrapper.toggle {
    opacity: 1; }
  .slideshow .img-size {
    overflow: hidden;
    /*width: 100%;*/
    height: 100%;
    opacity: 0; }
  .slideshow .image-wrapper {
    position: absolute;
    justify-content: center;
    background-color: gray;
    width: 100%;
    height: 100%; }
    .slideshow .image-wrapper .slide{
      position: absolute;
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      opacity: 0;
      filter: blur(10px);
    }
    .slideshow .image-wrapper .image{
      background-size: auto 100%;
      filter: blur(0px);
    }
    .slideshow .image-wrapper .fade-trans {
      transition: opacity 1s; }
    .slideshow .image-wrapper .active {
      z-index: 1;
      opacity: 1; }

.slideshow.hasHover:hover .button-wrapper {
  opacity: 1; }

/*---------------------------------------------------------*/
/* footer */

  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    background-color: #4682b4;
    border: 1px solid #274965;
    text-align: center;
    font-size: 14px; }
    .footer .footer-links {
      margin-bottom: 3px; }
      .footer .footer-links a:hover g {
        fill: #535658; }
      .footer .footer-links a {
        text-decoration: none; }
        .footer .footer-links a svg {
          border-radius: 4px;
          width: 28px; }
      .footer .footer-links .button .hover {
        display: none; }
      .footer .footer-links .button:hover .no-hover {
        display: none; }
      .footer .footer-links .button:hover .hover {
        display: inherit; }
      .footer .footer-links span, .footer .footer-links a:not(:last-child) {
        margin-right: 5px; }
    .footer .copyright {
      font-size: 12px; }

  .footer.content-footer {
    margin-top: 10px;
    bottom: inherit; }
.credit a{
  text-decoration: none;
  font-size: .6rem;
  color: black;
}
.credit a:hover{
  opacity: .5;
}


/*map*/
.map-box {
  width: 98%;
  margin: 10px 1%; }
  .map-box .title {
    margin: auto;
    width: 80%;
    border-bottom: solid gray 1px;
    text-align: center;
    font-size: 55px; }
    @media (min-width: 768px) {
      .map-box .title {
        font-size: 65px; } }
  .map-box .information-wrapper {
    padding-top: 10px;
    width: 100%;
    margin: 10px auto; }
    .map-box .information-wrapper .map {
      width: 100%;
      min-height: 250px; }
    .map-box .information-wrapper .information {
      text-align: center; }
    @media (min-width: 768px) {
      .map-box .information-wrapper {
        width: 80%;
        display: flex;
        justify-content: center; }
        .map-box .information-wrapper .map {
          width: 65%; }
        .map-box .information-wrapper .information {
          width: 35%;
          margin: 0 0 0 10px; } }


/*discipleship*/
.pdf-stuff{
  margin: auto;
  width: 85%;
}
.pdf-stuff iframe{
  width: 100%;
  min-height: 80vh;
}
