.link-button
  padding: 10px
  width: 150px
  margin: auto
  display: block
  text-align: center
  border: 5px solid #c9a47a
  border-radius: 3px
  font-size: 1.5rem
  font-weight: 600
  letter-spacing: 0.1rem
  color: #c9a47a
  transition: border-color 300ms, color 300ms
  &:hover
    border-color: #63605b
    color: #63605b
