---
data_file: contact
---

{% include partial_assets/sass_partials.sass %}


.link-wrap
  margin: 10px 0
  text-align: center
  width: 100%
  a
    font-size: 1.2rem
    color: #c9a47a
    &:hover
      color: #63605b
